/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/* Containers */
/* Colors */
/* Buttons */
@font-face {
  font-family: "Calibre-light";
  src: url("/fonts/calibre/CalibreWeb-Light.woff2") format("woff2"), url("/fonts/calibre/CalibreWeb-Light.woff") format("woff"), url("/fonts/calibre/CalibreWeb-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Calibre-medium";
  src: url("/fonts/calibre/CalibreWeb-Medium.woff2") format("woff2"), url("/fonts/calibre/CalibreWeb-Medium.woff") format("woff"), url("/fonts/calibre/CalibreWeb-Medium.ttf") format("truetype"); }
html, body {
  margin: 0;
  padding: 0; }

main {
  padding-top: 100px; }

.reviewCard-outer {
  width: calc(100% - 5px);
  margin: 0 auto 40px;
  border: 1px solid #f0f0f0;
  width: 312px;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .reviewCard-outer {
      width: 680px;
      display: flex;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 1024px) {
    .reviewCard-outer {
      width: 890px;
      border: 2px solid #f0f0f0; } }
  .reviewCard-outer .top-section {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 768px) {
      .reviewCard-outer .top-section {
        width: 648px;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .reviewCard-outer .top-section {
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box; } }
    .reviewCard-outer .top-section .logo-section {
      width: calc(100% - 5px);
      margin-top: 0;
      padding: 16px 0 0 0;
      margin-bottom: 8px;
      box-sizing: border-box;
      display: flex;
      justify-content: center; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .logo-section {
          width: 148px;
          padding: 16px 0;
          margin: 0; }
          .reviewCard-outer .top-section .logo-section img {
            width: 100%;
            height: 96px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .logo-section {
          width: 160px;
          height: 136px; } }
    .reviewCard-outer .top-section .vpn-info-wrapper {
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .vpn-info-wrapper {
          width: 272px;
          height: fit-content;
          margin-left: 27px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .vpn-info-wrapper {
          margin-left: 32px;
          width: 440px; } }
      .reviewCard-outer .top-section .vpn-info-wrapper .rating-section {
        margin: 0 0 8px;
        font-family: "Calibre-light", Fallback;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section {
            justify-content: left;
            align-items: flex-start;
            padding: 0;
            margin-top: 15px; } }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section {
            margin-top: 20px; } }
        .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-title {
          display: none; }
          @media only screen and (min-width: 768px) {
            .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-title {
              font-family: "Calibre-Medium", Fallback;
              font-size: 22px;
              display: block;
              width: 100%;
              margin: 0; } }
        .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text {
          margin: 0; }
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text span img {
            vertical-align: -4px; }
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text span:nth-child(1) {
            margin-left: 2.5px; }
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text .star-empty {
            vertical-align: -7px;
            margin-top: 2.5px; }
      .reviewCard-outer .top-section .vpn-info-wrapper .main-description-section {
        margin-bottom: 16px; }
        .reviewCard-outer .top-section .vpn-info-wrapper .main-description-section p {
          font-size: 24px;
          text-align: center;
          color: #011443;
          font-family: "Calibre-Medium", Fallback;
          width: 90%;
          margin: 0 auto;
          font-weight: 500; }
          @media only screen and (min-width: 768px) {
            .reviewCard-outer .top-section .vpn-info-wrapper .main-description-section p {
              text-align: left;
              font-size: 22px;
              width: 100%;
              margin: 0; } }
    .reviewCard-outer .top-section .visit-link-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .visit-link-section {
          width: 176px;
          height: fit-content;
          margin-left: 24px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .visit-link-section {
          margin-left: 40px;
          width: 170px; } }
      .reviewCard-outer .top-section .visit-link-section p {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #B9B9B9;
        font-family: "Calibre-Medium", Fallback; }
    .reviewCard-outer .top-section .add-to-compare-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 16px; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .add-to-compare-section {
          margin-bottom: auto;
          margin: -56px 10px 0 0px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .add-to-compare-section {
          margin-bottom: auto;
          margin: -25px 10px 15px 0px; } }
      .reviewCard-outer .top-section .add-to-compare-section .add-button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 1.5px 7.5px 0 0;
        border: 2px solid #979797;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #979797; }
        .reviewCard-outer .top-section .add-to-compare-section .add-button p {
          font-size: 26px;
          margin: -1px 0 0 0; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .top-section .add-to-compare-section .add-button {
            width: 24px;
            height: 24px; } }
      .reviewCard-outer .top-section .add-to-compare-section p {
        margin: 0;
        display: inline-flex;
        font-size: 20px;
        font-family: "Calibre-Medium", Fallback;
        font-weight: 500; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .top-section .add-to-compare-section p {
            font-size: 18px; } }
  .reviewCard-outer .grid-section {
    position: relative;
    background-color: rgba(238, 238, 238, 0.3);
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    order: 1; }
    .reviewCard-outer .grid-section::before {
      width: calc(100% - 15px);
      position: absolute;
      top: 0;
      left: 0;
      background-color: #EEEEEE;
      height: 2px;
      content: ""; }
    @media only screen and (min-width: 768px) {
      .reviewCard-outer .grid-section {
        width: 50%;
        order: 2;
        padding: 10px 20px;
        border-left: 2px solid #EEEEEE; } }
    .reviewCard-outer .grid-section table {
      width: 100%;
      border-collapse: collapse;
      padding: 10px;
      box-sizing: border-box; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .grid-section table {
          margin-bottom: 10px; } }
      .reviewCard-outer .grid-section table .row {
        padding: 0 10px;
        border-bottom: 1px solid #E2E2E2; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .grid-section table .row {
            border-bottom: none; } }
        .reviewCard-outer .grid-section table .row th {
          text-align: left;
          padding: 7.5px 0; }
          .reviewCard-outer .grid-section table .row th:first-child p {
            font-family: "Calibre-Medium", Fallback;
            font-weight: 500; }
          .reviewCard-outer .grid-section table .row th:last-child p {
            padding-left: 10px;
            border-left: 1px solid #E2E2E2;
            box-sizing: border-box;
            font-family: "Calibre-light", Fallback;
            font-weight: 300; }
          .reviewCard-outer .grid-section table .row th:last-child a p {
            font-family: "Calibre-Medium", Fallback;
            font-weight: 500; }
          .reviewCard-outer .grid-section table .row th:last-child a:-webkit-any-link {
            text-decoration: none; }
          .reviewCard-outer .grid-section table .row th p {
            font-size: 18px;
            margin: 0;
            padding: 0;
            box-sizing: border-box; }
    .reviewCard-outer .grid-section .app-section {
      position: relative;
      padding-top: 1px; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .grid-section .app-section::before {
          content: "";
          width: calc(100% + 40px);
          position: absolute;
          left: -20px;
          top: -2.5px;
          background-color: #EEEEEE;
          height: 2px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .grid-section .app-section::before {
          width: calc(100% + 20px);
          left: -20px; } }
      .reviewCard-outer .grid-section .app-section p {
        font-family: "Calibre-Medium", Fallback;
        margin: 7.5px 0 5px;
        font-size: 18px; }
      .reviewCard-outer .grid-section .app-section .icon-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: auto; }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .grid-section .app-section .icon-container {
            justify-content: flex-end;
            margin-top: -25px; } }
        .reviewCard-outer .grid-section .app-section .icon-container .app-icon {
          width: 20%;
          text-align: center; }
          @media only screen and (min-width: 1024px) {
            .reviewCard-outer .grid-section .app-section .icon-container .app-icon {
              width: 16.6666%; } }
          .reviewCard-outer .grid-section .app-section .icon-container .app-icon img {
            width: 40px; }
          .reviewCard-outer .grid-section .app-section .icon-container .app-icon p {
            font-size: 15px;
            font-family: "Calibre-light", Fallback;
            margin: 0; }
  .reviewCard-outer .feedback-container {
    order: 2;
    width: 100%;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .reviewCard-outer .feedback-container {
        width: 50%;
        order: 1; }
        .reviewCard-outer .feedback-container::before {
          width: calc(100% - 15px);
          position: absolute;
          top: 0;
          left: 15px;
          background-color: #EEEEEE;
          height: 2px;
          content: ""; } }
    .reviewCard-outer .feedback-container .like-less {
      display: block; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .feedback-container .like-less {
          display: none; } }
    .reviewCard-outer .feedback-container .like-less-shown {
      display: block; }
    .reviewCard-outer .feedback-container .our-feedback {
      width: 100%; }
      .reviewCard-outer .feedback-container .our-feedback .feedback-headings {
        font-family: "Calibre-Medium", Fallback;
        font-size: 18px;
        padding-left: 7.5px;
        margin-bottom: 0;
        font-weight: 500; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .feedback-container .our-feedback .feedback-headings {
            padding-left: 15px; } }
      .reviewCard-outer .feedback-container .our-feedback ul {
        padding-left: 25px;
        margin-top: 7.5px;
        max-width: 85%; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .feedback-container .our-feedback ul {
            padding-left: 32.5px; } }
        .reviewCard-outer .feedback-container .our-feedback ul li {
          font-size: 18px;
          font-family: "Calibre-light", Fallback;
          padding: 7.5px 0; }
      .reviewCard-outer .feedback-container .our-feedback .thumbs-down {
        vertical-align: -6px; }
  .reviewCard-outer .our-winner {
    position: absolute;
    top: -32px;
    width: 157px;
    height: 32px;
    background-color: #34E0A7;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .reviewCard-outer .our-winner p {
      margin: 0;
      font-family: "Calibre-Medium", Fallback;
      font-size: 18px;
      padding-left: 7.5px;
      font-weight: 500; }

.large-button {
  width: 172px;
  cursor: pointer;
  padding: 0;
  height: 48px;
  border: none;
  border-bottom: 2px solid #0000cc;
  border-radius: 2.5px;
  margin: 0 auto;
  text-align: center;
  background-color: #3333FF;
  font-family: "Calibre-Medium", Fallback;
  font-size: 26px;
  color: #ffffff;
  transition: 0.2s ease-in; }
  .large-button:hover {
    background-color: #0000cc; }
  .large-button img {
    display: none; }
  @media only screen and (min-width: 768px) {
    .large-button {
      width: 176px;
      margin-top: 16px; }
      .large-button img {
        display: inline-block;
        vertical-align: -2px; } }
  @media only screen and (min-width: 1024px) {
    .large-button {
      margin-top: 25px; } }

/*# sourceMappingURL=style.css.map */
