/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/* Containers */
/* Colors */
/* Buttons */
@font-face {
  font-family: "Calibre-Light";
  src: url("./Calibre-Light.eot");
  src: url("./Calibre-Light.eot?#iefix") format("embedded-opentype"), url("./CalibreWeb-Light.woff2") format("woff2"), url("./CalibreWeb-Light.woff") format("woff"), url("./Calibre-Light.ttf") format("truetype"), url("./Calibre-light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Calibre-Regular";
  src: url("./Calibre.eot");
  src: url("./Calibre.eot?#iefix") format("embedded-opentype"), url("./CalibreWeb-Regular.woff2") format("woff2"), url("./CalibreWeb-Regular.woff") format("woff"), url("./Calibre-Regular.ttf") format("truetype"), url("./Calibre.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Calibre-Medium";
  src: url("./Calibre-Medium.eot");
  src: url("./Calibre-Medium.eot?#iefix") format("embedded-opentype"), url("./CalibreWeb-Medium.woff2") format("woff2"), url("./CalibreWeb-Medium.woff") format("woff"), url("./Calibre-Medium.ttf") format("truetype"), url("./Calibre-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0; }

main {
  padding-top: 100px; }

.reviewCard-outer {
  width: calc(100% - 5px);
  margin: 0 auto 40px;
  border: 1px solid #f0f0f0;
  width: 312px;
  height: 970px;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .reviewCard-outer {
      width: 680px;
      height: 449px;
      display: flex;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 1024px) {
    .reviewCard-outer {
      width: 890px;
      height: 384px;
      border: 2px solid #f0f0f0; } }
  .reviewCard-outer .top-section {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 768px) {
      .reviewCard-outer .top-section {
        width: 648px;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .reviewCard-outer .top-section {
        width: 100%;
        padding: 0 23px;
        box-sizing: border-box; } }
    .reviewCard-outer .top-section .logo-section {
      width: calc(100% - 5px);
      height: fit-content;
      margin: 16px 0 8px 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .logo-section {
          width: 148px;
          margin: 16px 0 0 0; }
          .reviewCard-outer .top-section .logo-section img {
            width: 100%;
            height: 96px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .logo-section {
          width: 160px; } }
    .reviewCard-outer .top-section .vpn-info-wrapper {
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .vpn-info-wrapper {
          width: 272px;
          height: fit-content;
          margin-left: 27px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .vpn-info-wrapper {
          margin-left: 32px;
          width: 440px; } }
      .reviewCard-outer .top-section .vpn-info-wrapper .rating-section {
        margin: 0 0 8px;
        font-family: "Calibre-light", Fallback, sans-serif;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section {
            justify-content: left;
            align-items: flex-start;
            padding: 0;
            margin-top: 16px; } }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section {
            margin-top: 20px;
            margin-bottom: 16px; } }
        .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-title {
          display: none; }
          @media only screen and (min-width: 768px) {
            .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-title {
              font-family: "Calibre-Regular", Fallback, sans-serif;
              font-size: 22px;
              display: block;
              width: 100%;
              margin: 0;
              height: 24px; } }
        .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text {
          margin: 0;
          height: 24px; }
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text span img {
            vertical-align: -4px; }
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text span:nth-child(1) {
            margin-left: 2.5px; }
          .reviewCard-outer .top-section .vpn-info-wrapper .rating-section .rating-text .star-empty {
            vertical-align: -7px;
            margin-top: 2.5px; }
      .reviewCard-outer .top-section .vpn-info-wrapper .main-description-section {
        margin-bottom: 0px; }
        .reviewCard-outer .top-section .vpn-info-wrapper .main-description-section p {
          font-size: 24px;
          text-align: center;
          color: #011443;
          font-family: "Calibre-Medium", Fallback, sans-serif;
          width: 90%;
          margin: 0 auto 16px;
          font-weight: 500;
          line-height: 24px; }
          @media only screen and (min-width: 768px) {
            .reviewCard-outer .top-section .vpn-info-wrapper .main-description-section p {
              text-align: left;
              font-size: 22px;
              width: 100%;
              height: 80px;
              margin: 0; } }
          @media only screen and (min-width: 1024px) {
            .reviewCard-outer .top-section .vpn-info-wrapper .main-description-section p {
              height: 56px;
              margin: 0;
              line-height: 27px; } }
    .reviewCard-outer .top-section .visit-link-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .visit-link-section {
          width: 176px;
          height: fit-content;
          margin-left: 24px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .visit-link-section {
          margin-left: 40px;
          width: 170px; } }
      .reviewCard-outer .top-section .visit-link-section p {
        text-align: center;
        margin: 0;
        height: 16px;
        width: 100%;
        color: #B9B9B9;
        font-family: "Calibre-Regular", Fallback, sans-serif; }
    .reviewCard-outer .top-section .add-to-compare-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto 16px; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .top-section .add-to-compare-section {
          margin-bottom: auto;
          margin: -59px 10px 0 0px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .top-section .add-to-compare-section {
          margin-bottom: auto;
          margin: -19px 10px 11px 0px; } }
      .reviewCard-outer .top-section .add-to-compare-section .add-button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 0 7.5px 0 0;
        border: 2px solid #979797;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #979797;
        background-size: cover; }
        .reviewCard-outer .top-section .add-to-compare-section .add-button p {
          font-size: 26px;
          margin: -1px 0 0 0; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .top-section .add-to-compare-section .add-button {
            width: 24px;
            height: 24px;
            margin-left: 4px;
            background-size: 20px; }
            .reviewCard-outer .top-section .add-to-compare-section .add-button img {
              width: 20px; } }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .top-section .add-to-compare-section .add-button {
            margin-left: 4px; } }
      .reviewCard-outer .top-section .add-to-compare-section p {
        margin: 0;
        display: inline-flex;
        font-size: 20px;
        font-family: "Calibre-Regular", Fallback, sans-serif;
        font-weight: 500;
        margin-top: -4px; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .top-section .add-to-compare-section p {
            font-size: 18px;
            margin-top: -2px; } }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .top-section .add-to-compare-section p {
            margin-top: -4px; } }
  .reviewCard-outer .grid-section {
    position: relative;
    background-color: rgba(238, 238, 238, 0.3);
    width: 100%;
    padding: 10px 5px 16px;
    box-sizing: border-box;
    order: 1; }
    @media only screen and (min-width: 768px) {
      .reviewCard-outer .grid-section {
        padding: 10px 5px; }
        .reviewCard-outer .grid-section::before {
          width: calc(100% - 16px);
          position: absolute;
          top: 0;
          left: 0;
          background-color: #EEEEEE;
          height: 1px;
          content: ""; } }
    @media only screen and (min-width: 768px) and (min-width: 768px) {
      .reviewCard-outer .grid-section::before {
        width: calc(100% - 24px); } }

    @media only screen and (min-width: 768px) {
      .reviewCard-outer .grid-section {
        width: 50%;
        order: 2;
        padding: 8px 18px;
        border-left: 1px solid #EEEEEE; } }
    @media only screen and (min-width: 1024px) {
      .reviewCard-outer .grid-section {
        padding: 14px 18px 10px; } }
    .reviewCard-outer .grid-section table {
      width: 100%;
      border-collapse: collapse;
      padding: 10px;
      box-sizing: border-box; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .grid-section table {
          margin-bottom: 7.5px; } }
      .reviewCard-outer .grid-section table .row {
        padding: 0 10px;
        border-bottom: 1px solid #E2E2E2; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .grid-section table .row {
            border-bottom: none; } }
        .reviewCard-outer .grid-section table .row th {
          vertical-align: middle;
          text-align: left;
          padding: 7.5px 0;
          height: 24px; }
          @media only screen and (min-width: 768px) {
            .reviewCard-outer .grid-section table .row th {
              vertical-align: top;
              padding: 0 0 8px; } }
          .reviewCard-outer .grid-section table .row th:first-child {
            width: 50%; }
            @media only screen and (min-width: 768px) {
              .reviewCard-outer .grid-section table .row th:first-child {
                width: 174px; } }
            @media only screen and (min-width: 1024px) {
              .reviewCard-outer .grid-section table .row th:first-child {
                width: 50%; } }
            .reviewCard-outer .grid-section table .row th:first-child p {
              font-family: "Calibre-Medium", Fallback, sans-serif;
              font-weight: 500; }
          .reviewCard-outer .grid-section table .row th:last-child p {
            padding-left: 10px;
            border-left: 1px solid #E2E2E2;
            box-sizing: border-box;
            font-family: "Calibre-light", Fallback, sans-serif;
            font-weight: 300; }
          .reviewCard-outer .grid-section table .row th:last-child a p {
            font-family: "Calibre-Regular", Fallback, sans-serif;
            font-weight: 500; }
          .reviewCard-outer .grid-section table .row th:last-child a:-webkit-any-link {
            text-decoration: none; }
          .reviewCard-outer .grid-section table .row th p {
            font-size: 18px;
            margin: 0;
            padding: 0;
            box-sizing: border-box; }
    .reviewCard-outer .grid-section .app-section {
      position: relative;
      padding-top: 1px; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .grid-section .app-section::before {
          content: "";
          width: calc(100% + 40px);
          position: absolute;
          left: -20px;
          top: -2.5px;
          background-color: #EEEEEE;
          height: 1px; } }
      @media only screen and (min-width: 1024px) {
        .reviewCard-outer .grid-section .app-section::before {
          width: calc(100% + 20px);
          left: -20px; } }
      .reviewCard-outer .grid-section .app-section p {
        font-family: "Calibre-Medium", Fallback, sans-serif;
        margin: 5.5px 0 5px;
        font-size: 18px; }
      .reviewCard-outer .grid-section .app-section .icon-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: auto; }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .grid-section .app-section .icon-container {
            justify-content: flex-end;
            margin-top: -25px; } }
        .reviewCard-outer .grid-section .app-section .icon-container .app-icon {
          width: 20%;
          text-align: center; }
          @media only screen and (min-width: 1024px) {
            .reviewCard-outer .grid-section .app-section .icon-container .app-icon {
              width: 17.6666%; } }
          .reviewCard-outer .grid-section .app-section .icon-container .app-icon img {
            width: 40px; }
          .reviewCard-outer .grid-section .app-section .icon-container .app-icon p {
            font-size: 15px;
            font-family: "Calibre-light", Fallback, sans-serif;
            margin: 0; }
  .reviewCard-outer .feedback-container {
    order: 2;
    width: 100%;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .reviewCard-outer .feedback-container {
        width: 50%;
        order: 1; }
        .reviewCard-outer .feedback-container::before {
          width: calc(100% - 16px);
          position: absolute;
          top: 0;
          left: 16px;
          background-color: #EEEEEE;
          height: 1px;
          content: ""; } }
    @media only screen and (min-width: 768px) and (min-width: 1024px) {
      .reviewCard-outer .feedback-container::before {
        width: calc(100% - 24px);
        left: 24px; } }

    .reviewCard-outer .feedback-container .like-less {
      display: block; }
      @media only screen and (min-width: 768px) {
        .reviewCard-outer .feedback-container .like-less {
          display: none; } }
    .reviewCard-outer .feedback-container .like-less-shown {
      display: block; }
    .reviewCard-outer .feedback-container .our-feedback {
      width: 100%; }
      .reviewCard-outer .feedback-container .our-feedback .feedback-headings {
        font-family: "Calibre-Medium", Fallback, sans-serif;
        font-size: 18px;
        padding-left: 7.5px;
        margin-bottom: 0;
        font-weight: 500;
        height: 32px;
        margin-top: 14px; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .feedback-container .our-feedback .feedback-headings {
            padding-left: 16px; } }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .feedback-container .our-feedback .feedback-headings {
            padding-left: 22px; } }
      .reviewCard-outer .feedback-container .our-feedback ul {
        padding-left: 25px;
        margin-top: 0;
        max-width: 85%; }
        @media only screen and (min-width: 768px) {
          .reviewCard-outer .feedback-container .our-feedback ul {
            padding-left: 32.5px; } }
        @media only screen and (min-width: 1024px) {
          .reviewCard-outer .feedback-container .our-feedback ul {
            padding-left: 37.5px; } }
        .reviewCard-outer .feedback-container .our-feedback ul li {
          font-size: 13px;
          font-family: "Calibre-light", Fallback, sans-serif;
          width: 261px;
          padding: 0;
          margin-bottom: 4px; }
          @media only screen and (min-width: 768px) {
            .reviewCard-outer .feedback-container .our-feedback ul li {
              width: 280px; } }
          @media only screen and (min-width: 1024px) {
            .reviewCard-outer .feedback-container .our-feedback ul li {
              padding: 0 0 12px;
              margin-bottom: 0px;
              width: 375px; } }
          .reviewCard-outer .feedback-container .our-feedback ul li span {
            font-size: 18px; }
      .reviewCard-outer .feedback-container .our-feedback .thumbs-down {
        vertical-align: -6px; }
  .reviewCard-outer .our-winner {
    position: absolute;
    top: -33px;
    left: -1px;
    width: 157px;
    height: 32px;
    background-color: #34E0A7;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (min-width: 1024px) {
      .reviewCard-outer .our-winner {
        top: -34px;
        left: -2px; } }
    .reviewCard-outer .our-winner p {
      margin: 0;
      font-family: "Calibre-Medium", Fallback, sans-serif;
      font-size: 18px;
      font-weight: 500; }

.large-button {
  width: 172px;
  cursor: pointer;
  padding: 0;
  height: 48px;
  border: none;
  border-bottom: 2px solid #0000cc;
  border-radius: 2.5px;
  margin: 0 auto;
  text-align: center;
  background-color: #3333FF;
  font-family: "Calibre-Medium", Fallback, sans-serif;
  font-size: 26px;
  color: #ffffff;
  transition: 0.2s ease-in;
  margin-bottom: 4px; }
  .large-button:hover {
    background-color: #0000cc; }
  .large-button img {
    display: none; }
  @media only screen and (min-width: 768px) {
    .large-button {
      width: 176px;
      margin-top: 16px; }
      .large-button img {
        display: inline-block;
        vertical-align: -2px;
        margin-left: 10px; } }
  @media only screen and (min-width: 1024px) {
    .large-button {
      margin-top: 24px; } }

/*# sourceMappingURL=style.css.map */
