/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */


/* Containers */

$x-small: 600px
$small: 800px
$medium: 768px
$large: 1024px

/* Colors */

$dark-blue: #011443
$mint-green: #34E0A7
$box-border: 1px solid #f0f0f0
$grey-border: 1px solid #E2E2E2

$caption-colour: #B9B9B9
$grid-box: rgba(238,238,238,0.3)
$light-box-border: 1px solid #fafaf
$checkBox:  2px solid #979797
$checkBoxColour: #979797

// Sizing
$Mob-full: calc(100% - 5px)

// transition

$transition: 0.2s ease-in
/* Buttons */

$button-background: #3333FF
$button-background-hover: darken($button-background, 20%)
$button-color: #ffffff


@font-face
  font-family: 'Calibre-light'
  src: url('/fonts/calibre/CalibreWeb-Light.woff')

$calibre-light: 'Calibre-light'

@font-face
  font-family: 'Calibre-medium'
  src: url('/fonts/calibre/CalibreWeb-Medium.woff')

$calibre-medium: 'Calibre-Medium'
