/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/* Containers */
/* Breakpoints */
/* Colors */
/* Typography */
/* Padding */
/* Borders */
/* Buttons */
@font-face {
  font-family: "Calibre-light";
  src: url("/fonts/calibre/CalibreWeb-Light.woff"); }
@font-face {
  font-family: "Calibre-medium";
  src: url("/fonts/calibre/CalibreWeb-Medium.woff"); }
html, body {
  margin: 0;
  padding: 0; }

.reviewCard-outer {
  width: calc(100% - 5px);
  margin: 2.5px auto;
  border: 1px solid #f0f0f0;
  width: 312px; }
  .reviewCard-outer .logo-section {
    width: calc(100% - 5px);
    padding: 16px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center; }
  .reviewCard-outer .rating-section {
    margin: 0 0 8px;
    font-family: "Calibre-light";
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .reviewCard-outer .rating-section p {
      margin: 0; }
      .reviewCard-outer .rating-section p span img {
        vertical-align: -4px; }
      .reviewCard-outer .rating-section p span:nth-child(1) {
        margin-left: 2.5px; }
  .reviewCard-outer .main-description-section {
    margin-bottom: 16px; }
    .reviewCard-outer .main-description-section p {
      font-size: 24px;
      text-align: center;
      color: #011443;
      font-family: "Calibre-Medium";
      width: 90%;
      margin: 0 auto; }
  .reviewCard-outer .visit-link-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px; }
    .reviewCard-outer .visit-link-section p {
      text-align: center;
      margin: 0;
      width: 100%;
      color: #B9B9B9;
      font-family: "Calibre-Medium"; }
  .reviewCard-outer .add-to-compare-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px; }
    .reviewCard-outer .add-to-compare-section input {
      margin-bottom: 0; }
    .reviewCard-outer .add-to-compare-section p {
      margin: 0;
      display: inline-flex;
      font-size: 20px;
      font-family: "Calibre-Medium"; }
  .reviewCard-outer .grid-section {
    background-color: rgba(238, 238, 238, 0.3);
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box; }
    .reviewCard-outer .grid-section table {
      width: 100%;
      border-collapse: collapse;
      padding: 10px;
      box-sizing: border-box; }
      .reviewCard-outer .grid-section table .row {
        padding: 0 10px;
        border-bottom: 1px solid #E2E2E2; }
        .reviewCard-outer .grid-section table .row th {
          text-align: left;
          padding: 7.5px 0; }
          .reviewCard-outer .grid-section table .row th:first-child p {
            font-family: "Calibre-Medium";
            font-weight: 300; }
          .reviewCard-outer .grid-section table .row th:last-child p {
            padding-left: 10px;
            border-left: 1px solid #E2E2E2;
            box-sizing: border-box;
            font-family: "Calibre-light";
            font-weight: 100; }
          .reviewCard-outer .grid-section table .row th:last-child a p {
            font-family: "Calibre-Medium";
            font-weight: 300; }
          .reviewCard-outer .grid-section table .row th:last-child a:-webkit-any-link {
            text-decoration: none; }
          .reviewCard-outer .grid-section table .row th p {
            font-size: 18px;
            margin: 0;
            padding: 0;
            box-sizing: border-box; }
    .reviewCard-outer .grid-section .app-section p {
      font-family: "Calibre-Medium";
      margin: 7.5px 0 5px;
      font-size: 18px; }
    .reviewCard-outer .grid-section .app-section .icon-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .reviewCard-outer .grid-section .app-section .icon-container .app-icon {
        width: 20%;
        text-align: center; }
        .reviewCard-outer .grid-section .app-section .icon-container .app-icon img {
          width: 40px; }
        .reviewCard-outer .grid-section .app-section .icon-container .app-icon p {
          font-size: 16px;
          font-family: "Calibre-light";
          margin: 0; }
  .reviewCard-outer .our-feedback .feedback-headings {
    font-family: "Calibre-Medium";
    font-size: 18px;
    padding-left: 7.5px;
    margin-bottom: 0; }
  .reviewCard-outer .our-feedback ul {
    padding-left: 25px;
    margin-top: 7.5px;
    max-width: 85%; }
    .reviewCard-outer .our-feedback ul li {
      font-size: 16px;
      font-family: "Calibre-light";
      padding: 7.5px 0; }
  .reviewCard-outer .our-feedback .thumbs-down {
    vertical-align: -6px;
    margin-left: 3.5px; }

.large-button {
  width: 172px;
  padding: 0;
  height: 48px;
  margin: 0 auto;
  text-align: center;
  background-color: #3333FF;
  font-family: "Calibre-Medium";
  font-size: 26px;
  color: white; }

/*# sourceMappingURL=style.css.map */
